.announcement-item {
    flex: 0 0 25%;
    margin: 10px calc((33.33% - 25%) / 2);
    min-width: 250px;
    width: 250px;
    min-height: 350px;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #ccc;
    padding: 20px 25px;
}
.announcement-item:hover {
    cursor: pointer;
}
.announcement-item__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.announcement-item__container > *:not(:last-child) {
    margin: 0 0 20px 0;
}
.announcement-item__header {
    height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.announcement-item__control-text {
    font-size: 12px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.announcement-item__control-text p {
    display: flex;
    flex-direction: column;
    color: #3d5a5c;
}
.announcement-item__control-text p span {
    color: #eb4034;
    margin: 10px 0 0 0;
}
.announcement-add-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.announcement-add-item p {
    padding: 155px 0 0 0;
}
.announcement-add-item::after {
    content: '';
    width: 10px;
    height: 70px;
    background-color: #3d5a5c;
    position: absolute;
}
.announcement-add-item::before {
    content: '';
    width: 10px;
    height: 70px;
    background-color: #3d5a5c;
    transform: rotate(90deg);
    position: absolute;
}
