.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.page-links {
    margin: 15px 0;
}
.page-links__link {
    transition: 0.3s;
}
.page-links > *:not(:last-child) {
    margin-right: 25px;
}
.page-links__link.active {
    text-decoration: underline;
}
.page-links__link:hover {
    text-decoration: underline;
    color: #333;
}
